:root {
  --main-text-color: #212121;
  --paragraph-color: #757575;
  --main-brand-color: #2196f3;
  --block-background-color: #2f303a;
  --button-background-color: #f5f4fa;
  --hover-text-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --current-link-color: #000ff0;
  --logo-dark-color: #000000;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  background: #e5e5e5;
  letter-spacing: 0.03em;
  margin: 0;
}
button {
  border-width: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}

.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.btn {
  cursor: pointer;
}
.address {
  font-style: normal;
}
/*Главная страница*/
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-web-color {
  color: var(--main-brand-color);
}
.logo-studio-color {
  color: var(--logo-dark-color);
}
.logo-footer-studio-color {
  color: var(--hover-text-color);
}
/*Навигация*/
.navigation-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--main-brand-color);
}
.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--paragraph-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--main-brand-color);
}
/*Герой*/
.hero {
  background-color: var(--block-background-color);
}
.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--hover-text-color);
}
.hero-button {
  background: var(--main-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--hover-text-color);
}
/*Особенности*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-item-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-item-text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
/*Чем мы занимаемся*/
.directions-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
/*Наша команда*/
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
/*Футер*/
footer {
  background-color: var(--block-background-color);
}
.address-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--hover-text-color);
}
.footer-contacts-link {
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
}
/*Страница портфолио*/
.second-button {
  background: var(--button-background-color);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}
.second-button:hover,
.second-button:focus {
  background: var(--main-brand-color);
  color: var(--hover-text-color);
}
/*Проекты*/
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-description {
  font-size: 18px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
